:root{
  --baseperple: #ab9ef3;
  --saasperele: #5f45f5;
  --themeperple: #baaeff74;
  --darkperple: #3a2a62;
  --basewhite: #fcfcff;
  --lightperple: #d7cff9;
  --lightdarkperple: #c0b8e7;
  --themeblack: #1c1d1d;
  --fadeblack: #60567c;
  --baseshadow: rgba(143, 102, 255, 0.549);
  --lightshadow: rgba(167, 135, 255, 0.481);
}

.darkmode{
  
}

html {
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
body{
  overflow: scroll;
  font-family: "inherit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  height: 100vh;
  font-style: normal;
  margin: 0;
    padding: 0;
    background-image: linear-gradient(var(--basewhite), var(--themeperple));
}
.button{
    background-color: var(--baseperple); 
    border: none;            
      color: var(--themeblack);           
      padding: 8px 16px;   
      text-align: center;     
      text-decoration: none;   
      display: inline-block;    
      font-size: 16px;         
      font-family: 'Montserrat', sans-serif; 
      margin: 10px;              
      cursor: pointer;      
      border-radius: 8px;
      border-radius: 1000px;    
      transition: background-color 0.3s ease;
      box-shadow: none;
}
.button:hover {
    background-color: var(--lightperple);
    box-shadow: 2px 2px 50px var(--baseshadow);
  }
.button:active {
    background-color: var(--lightdarkperple);
    transform: scale(0.95); /* Slight movement on click */
  }

.buttonalt{
  background-color: var(--basewhite);
  border: 5px solid var(--baseperple);         
      color: var(--themeblack);           
      padding: 8px 16px;   
      text-align: center;     
      text-decoration: none;   
      display: inline-block;    
      font-size: 16px;         
      font-family: 'Montserrat', sans-serif; 
      margin: 10px;              
      cursor: pointer;      
      border-radius: 8px;
      border-radius: 1000px;    
      transition: background-color 0.3s ease;
      box-shadow: none;
}
.buttonalt:hover{
  background-color: var(--baseperple);
  box-shadow: 2px 2px 50px var(--baseshadow);
}
.buttonalt:active{
  border: 5px solid var(--lightdarkperple);
  background-color: var(--lightdarkperple);
}

.altbutton{
  background-color: var(--baseperple); 
  border: 5px solid var(--baseperple);            
    color: var(--themeblack);           
    padding: 8px 16px;   
    text-align: center;     
    text-decoration: none;   
    display: inline-block;    
    font-size: 16px;         
    font-family: 'Montserrat', sans-serif; 
    margin: 10px;              
    cursor: pointer;      
    border-radius: 8px;
    border-radius: 1000px;    
    transition: background-color 0.3s ease;
    box-shadow: none;
}

.altbutton:hover{
  background-color: var(--lightperple);
  border: 5px solid var(--baseperple);  
  box-shadow: 2px 2px 50px var(--baseshadow);       
}

.altbutton:active{
  background-color: var(--lightdarkperple);
  border: 5px solid var(--lightdarkperple);
}

.nav{
  transition: opacity 2s ease-in-out;
    display: flex;
    height: 100px;
    width: auto;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    
    margin: 0;
    justify-content: space-between;
}

.navv{
    /* color: rgb(60, 49, 91); */
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}


.hero{
  font-size: 128px;
  text-shadow: 2px 2px 50px var(--lightshadow);
  animation: slideUp 0.6s ease-in-out;
}

.herot{
  color: var(--darkperple);
}

.herotc{
  color: var(--baseperple);
}

.sog{
  opacity: 1;
  font-size: 18px;
  font-family: inherit;
  font-weight:600;
  color: var(--fadeblack);
  animation: slideUp 0.6s ease-in-out;
  animation-delay: 0.2s;
}

.nd{
  height: 50vh;
  width: auto;
  background-color: var(--baseperple);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  70%{
    opacity: 1;
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

.thanks{
  margin-top: 10vh;
  font-size: 44px;
  color: var(--darkperples);
}

.thankss{
  margin-top: 10vh;
  font-size: 64px;
  color: var(--darkperple);
  animation: slideUp 0.6s ease-in-out;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  font-family: "inherit", sans-serif;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid var(--basewhite);
  border-right: none; /* Removes the right border to join with the button */
  border-radius: 100px 0 0 100px; /* Rounded corners on the left */
  outline: none;
  width: 250px;
}

.submit-btn {
  font-family: "inherit", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid var(--saasperele);
  border-radius: 0 100px 100px 0; /* Rounded corners on the right */
  background-color: var(--saasperele);
  color: var(--basewhite);
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: var(--darkperple);
  border: 2px solid var(--darkperple);
}

.field{
  margin-top: 5vh;
  margin-bottom: 10vh;
  height: 20vh;
  width: 50vw;
  background-color: var(--lightperple);
  border-radius: 20px;
  border: 5px solid var(--baseperple);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideUp 0.6s ease-in-out;
  animation-delay: 0.1s;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 50px var(--baseshadow);
}

.monono{
  font-size: 24px;
  color: var(--darkperple);
}